body {
  font-family: "Karla", sans-serif;
  background-color: #fff;
  min-height: 100vh; }

.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px; }
  .brand-wrapper .logo {
    height: 25px; }

.login-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: #fff; }
  @media (max-width: 991px) {
    .login-section-wrapper {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 575px) {
    .login-section-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh; } }

.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%; } }
  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #b0adad; }
  .login-wrapper .form-control {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal; }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::-moz-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::placeholder {
      color: #b0adad; }
  .login-wrapper .login-btn {
    padding: 13px 20px;
    background-color: #fdbb28;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px; }
    .login-wrapper .login-btn:hover {
      border: 1px solid #fdbb28;
      background-color: #fff;
      color: #fdbb28; }
  .login-wrapper a.forgot-password-link {
    color: #080808;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 54px; }
    @media (max-width: 575px) {
      .login-wrapper a.forgot-password-link {
        margin-bottom: 16px; } }
  .login-wrapper-footer-text {
    font-size: 16px;
    color: #000;
    margin-bottom: 0; }

.login-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px; }

.login-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left; }
.iUcVNU {
    
    position: relative;
    flex: 0.88 1 0%;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
}
.cuHJGW:hover, .cuHJGW:active {
    background-color: rgb(247, 120, 0);
}
  .dAAAQN {
    position: absolute;
    padding: 30px 24px 0px;
    left: 0px;
    right: 0px;
}
h1 {
    color: rgb(24, 32, 38);
    font-weight: 600;
    margin: 0px 0px 10px;
    padding: 0px;
    line-height: 40px;
    font-size: 36px;
}
.eOKGdM {
    margin: 0px auto;
    width: 100%;
    max-width: 376px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.fSIqWT {
    margin-left: -2px;
    display: inline-flex;
}
a {
    text-decoration: none;
    color: inherit;
}
.fSPMZG {
    width: 95px;
}
svg:not(:root) {
    overflow: hidden;
}
.eXMwvo {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: rgb(27, 28, 29);
    font-feature-settings: "case", "ss02";
    cursor: pointer;
}
.guMJfq {
    padding: 24px;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.bjMQeU {
	padding: 64px 0px 128px;
    max-width: 376px;
    width: 100%;
}
.kEMPWw {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.kCHIDb {
    font-size: 32px;
    font-weight: bold;
    color: rgb(62, 64, 66);
}
h2 {
    color: rgb(24, 32, 38);
    font-weight: 600;
    margin: 0px 0px 10px;
    padding: 0px;
    line-height: 32px;
    font-size: 28px;
}
p, ul {
    padding: 0px;
    margin: 0px;
}
.kZcMTG {
    margin-bottom: 12px;
}
.htLlcY {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 16px;
}
.hskMgz {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px 0px 4px;
    color: rgb(62, 64, 66);
}
label {
    display: inline-block;
}
.yAwUI {
    margin-top: 2px;
    border-radius: 3px;
}
.cSRDnx {
    display: block;
}
input[type="text"], input[type="password"], input[type="tel"], input[type="search"], input[type="email"], input[type="number"], input[type="image"] {
    appearance: none;
}
.yAwUI {
    margin-top: 2px;
    border-radius: 3px;
}
.lfekbW {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(221, 224, 226);
    background-color: white;
    height: 48px;
    flex: 1 1 auto;
    width: 100%;
    color: rgb(27, 28, 29);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
}
button, input, optgroup, select, textarea {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: inherit;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0px;
    font-size: inherit;
    line-height: inherit;
}
.kZcMTG {
    margin-bottom: 12px;
}
.htLlcY {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 16px;
}
.hskMgz {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px 0px 4px;
    color: rgb(62, 64, 66);
}
.yAwUI {
    margin-top: 2px;
    border-radius: 3px;
}
.cSRDnx {
    display: block;
}
.lfekbW {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(221, 224, 226);
    background-color: white;
    height: 48px;
    flex: 1 1 auto;
    width: 100%;
    color: rgb(27, 28, 29);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
}
.dwfNME {
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
    display: block;
    float: left;
    color: rgb(168, 174, 179);
}
.evbMMf {
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
    display: block;
    text-align: right;
    color: rgb(168, 174, 179);
}
.dyNqkJ:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.hxCgUx {
    margin: 16px 0px;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}
.cuHJGW {
    width: 100%;
    display: flex;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 146, 43);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.2px;
    padding: 0px 20px;
    height: 48px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
}
.dyNqkJ {
    border: 0px;
    outline: none;
    margin: 0px;
    padding: 0px;
    flex: initial;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
button, input, optgroup, select, textarea {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: inherit;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0px;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0px;
}
*, ::before, ::after {
    box-sizing: border-box;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
body {
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgb(248, 248, 249);
    position: relative;
    margin: 0px;
}
.liuvoF {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.hIZrKX {
    margin: 16px 0px;
    border-bottom-color: rgb(237, 239, 240);
}
hr {
    margin: 20px 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgba(16, 22, 26, 0.15);
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.dyNqkJ:not(:disabled):not(.disabled) {
    cursor: pointer;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}
.bjgrbI {
    border-radius: 3px;
    margin-bottom: 8px;
    color: rgb(62, 64, 66);
    transition: filter 0.1s ease 0s;
    background-color: rgb(255, 232, 18) !important;
}
.fBngnK {
    width: 100%;
    display: flex;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(27, 28, 29);
    background-color: rgb(248, 248, 249);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.2px;
    padding: 0px 20px;
    height: 48px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
}
.dyNqkJ {
    border: 0px;
    outline: none;
    margin: 0px;
    padding: 0px;
    flex: initial;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.liuvoF {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.bjgrbI img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.bjgrbI {
    border-radius: 3px;
    margin-bottom: 8px;
    color: rgb(62, 64, 66);
    transition: filter 0.1s ease 0s;
    background-color: rgb(255, 232, 18) !important;
}
.nRPkK {
    border-radius: 3px;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    transition: filter 0.1s ease 0s;
    background-color: rgb(0, 199, 60) !important;
}
.nRPkK img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}
.lcVXkN {
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
    white-space: nowrap;
    color: rgb(168, 174, 179);
    text-align: center;
}
.cwLlWw {
    color: rgb(42, 143, 180);
}
.bjgrbI:hover {
    filter: hue-rotate(
-12deg
) brightness(97%);
}
.nRPkK:hover {
    filter: hue-rotate(
-12deg
) brightness(97%);
}
a {
    text-decoration: none;
    color: inherit;
}
.iyHfce:hover, .iyHfce:active {
    background-color: rgb(37, 39, 40);
}
.iyHfce {
    width: 100%;
    display: flex;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(237, 239, 240);
    background-color: rgb(62, 64, 66);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.2px;
    padding: 0px 20px;
    height: 48px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
    margin-bottom: 16px;
}
.ionSaR {
    margin: -32px 0px 24px;
}
.kCHIDb{
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.6px;
    margin: 0px 0px 10px;
}
/*# sourceMappingURL=login.css.map */
